<% if @article.errors.any? %>
  <h2>
    The following errors prevented the articles from getting created:
  </h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
    <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>

<div class='row'>
  <div class='col-xs-12'>
    <%= form_for @article do |f| %>
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :title %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true %>
      </div>
    </div>
      <p>
        <%= f.label :description %>
        <br>
        <%= f.text_area :description %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>

    <%= link_to "Back to articles listing", articles_path %>
 </div>
</div>
